@import "colors";
@import "task";
@import "modal";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
}

.container{
    display: grid;
    position: relative;
    grid-template-columns: 260px 3fr;
    grid-template-rows: 0.5fr 4fr;
    height: 100vh;
}
.header{
    background-color: $primary;
    color: $light;
    grid-row: 1;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap:70px;
    h1{
        padding: 20px;
        i{
            margin-left:10px;
            font-size: 2.2rem;
        }
    }

}
.sidebar{
    background-color: $dark;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    grid-row: 2;
    grid-column: 1;
    .divider{
        height: 1px;
        width: 100%;
        background-color: #f8fafc;
    }
    .project{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        color: $light;
        font-size: 1.4rem;
        cursor: pointer;
        &:hover{
            color: $primary;
        }
        i{
            padding: 10px;
            
        }
       
    }
    .inbox{
        display: flex;
        flex-direction: column;
        gap: 16px;
        
        margin-left: 10px;
        h2{
            font-size: 1.7rem;
            margin-left: 10px;
            color: $light;
            margin-top: 16px;
        }
    }
    .projects{
        @extend .inbox;
        color: $light;
        h2{
            font-size: 1.7rem;
           
        }
        .addProject{
            @extend .project;
        }
        .addProjectForm{
            display: none;
            flex-direction: column;
            gap: 5px;
            button:hover{
                color: $light;
                opacity: 0.7;
            }
        }
        input{
            padding: 4px;
            font-size: 1rem;
            border-radius: 5px;
            border: none;
        }
        .projectActions{
            display: flex;
            flex-direction: row;
            gap:3px;
        }
        .submitProject{
            background-color: $primary;
            width: 50%;
            border-radius:5px ;
            justify-content: center;
        }
        .cancel{
            background-color: crimson;
            width: 50%;
            border-radius:5px ;
            justify-content: center;
        }

    }
}
.add-task{
    position: fixed;
    position: absolute;
    top: 82%;
    left: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: $primary;
    color: $light;
    font-size: 2.6rem;
    &:hover{
        opacity: 0.7;
    }
}